<div>
  <button class="btn btn-primary" data-bind="click: function() { $root.connectGopro(); }">
    Pair GoPro
    <i class="icon-spinner icon-spin" data-bind="visible: connecting()"></i>
  </button>
</div>
